/* Estilos para o componente de abas */
.tabs {
  width: 100%;
}

.tab-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  border-bottom: 2px solid #ccc;
}

.tab-list-item {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-bottom: none;
}

.tab-list-active {
  background-color: #fff;
  border-bottom: 2px solid #007bff;
}

.tab-content {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
}

